<div class="media-body">
    <h1>POLITICA DE PRIVACIDAD Y DEVOLUCION</h1>
    <h3>POLITICA DE PRIVACIDAD</h3>
    <p> Este Aviso de Privacidad está diseñado para informarle sobre nuestras prácticas de recopilación, uso y divulgación de 
      información que podamos recoger de y acerca de usted. Por favor, asegúrese de leer todo el Aviso de Privacidad antes de 
      usar o enviar información a estos sitios. Estos sitios están destinados para su uso por los residentes de México. 
      Para cualquier duda relacionada con este aviso favor de comunicarse al departamento responsable de datos personales, que es 
      el de Ventas, el cual lo puede contactar en el teléfono: (55) 15529190 y en el correo: an68179231@gmail.com ó con nuestro 
      responsable de datos personales Waldo Castellanos en la dirección Ignacio Allende, Nueva Santa Martha, Nezahualcoyotl, México.

      Este Aviso contempla en todo momento los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en el tratamiento de los datos personales.</p>
    <p>Los datos que solicitamos son los siguientes:</p>
    <ol>
      <li>Email</li>
      <li>Password (Personalizada)</li>
      <li>Nombre   (De envío y/o fiscal)</li>
      <li>Apellido   (De envío y/o fiscal)</li>
      <li>Género   (De envío y/o fiscal)</li>
      <li>Teléfono (con lada)</li>
      <li>Calle (De envío y/o fiscal)</li>
      <li>Número   (De envío y/o fiscal)</li>
      <li>Código Postal   (De envío y/o fiscal)</li>
      <li>Ciudad   (De envío y/o fiscal)</li>
      <li>Colonia   (De envío y/o fiscal)</li>
      <li>Estado   (De envío y/o fiscal)</li>
      <li>País   (De envío y/o fiscal)</li>
      <li>Empresa</li>
      <li>Razón Social</li>
      <li>RFC</li>
      <li>Nombre de Tarjetahabiente</li>
      <li>Número de Tarjeta de Crédito/débito</li>
      <li>CVC</li>
      <li>Fecha de vencimiento de tarjeta de crédito/débito</li>
    </ol>
<a href=""><img src="/assets/Politica_de_Privacidad.jpg" ></a>
<hr>
    <h1>POLITICA DE DEVOLUCION</h1>
    <p>
      Cyberup a través de sus distribuidores y de los fabricantes ofrece una garantía en todos sus componentes y productos que varía de acuerdo al tipo del producto, por lo que la responsabilidad de la empresa 
      radica en ser el intermediario entre nuestros clientes y los fabricantes.
    </p>
    <p>Requisitos para garantía</p>
    <ol>
      <li>
        Deberá enviar el producto a: 
      </li>
      <li>
        Anexar una carta explicando el problema del producto enviado a garantía,
        no se procederá a su revisión si no incluye dicho documento y esto demorará el tiempo de respuesta.
        Junto con fotografias del producto dañado. 
      </li>
      <li>
        Deberá enviar el producto a nuestras oficinas cubriendo los gastos de envío (no se reciben paquetes por cobrar).
      </li>
    </ol>
    <a href=""><img src="/assets/devoluciones-450x450.png" alt=""></a>
  </div>
