<div class="media-body">
  <h1>METODOS DE PAGO</h1>
</div>
<table>
<tr>
  <td>
<figure class="snip1361">
    <img src="/assets/pay.gif" alt="sample45" />
    <figcaption>
      <h3>PayPal</h3>
      <p>Utiliza tu cuenta PayPal para realizar pagos con tarjetas de débito/crédito.</p>
    </figcaption>
  </figure>
</td>
  <td>
  <figure class="snip1361"><img src="/assets/tar.gif" alt="sample99" />
    <figcaption>
      <h3>Tarjeta Credito y Debito</h3>
      <p>Asegura el procesamiento más rápido pagando con tarjetas de débito/crédito. </p>
    </figcaption>
  </figure>
</td>
<td>
  <figure class="snip1361"><img src="/assets/spei.png" alt="sample99" />
    <figcaption>
      <h3>Transeferencia SPEI</h3>
      <p>Recibimos transferencias electrónicas SPEI desde cualquier banco. </p>
    </figcaption>
  </figure>
</td>
<td>
  <figure class="snip1361"><img src="/assets/msi.png" alt="sample99" />
    <figcaption>
      <h3>Meses sin intereses</h3>
      <p>Paga a MSI desde 3 meses hasta 12 meses. </p>
    </figcaption>
  </figure>
</td>
</tr>
<tr>
  <td>
    <figure class="snip1361"><img src="/assets/oxxo.jpg" alt="sample99" />
      <figcaption>
        <h3>Deposito Oxxo</h3>
        <p>Depósitos en efectivo se reciben en todas tiendas OXXO. </p>
      </figcaption>
    </figure>
  </td>
</tr>
</table>