<div class="media-body">
    <h1>NOSOTROS</h1>
    <tr>
    <h3>¿QUIÉNES SOMOS?</h3>
    <p>Somos una empresa recién creada cuyo propósito es satisfacer a nuestros clientes trayendo 
      lo nuevo y mejor del mercado en lo computacional, de las mejores marcas, teniendo una responsabilidad en su entrega y distribución de nuestros productos.</p>
      <hr>
    <h3>MISION</h3>
    <p>Brindar productos de calidad y de manera accesible a aquellos usuarios fans de construir o mejorar sus computadoras,
       haciéndolas mucho mejor capacitadas para las nuevas tecnologías.</p>
      <hr>
      <h3>VISION</h3>
      <P>Ser reconocidos como una empresa que brinda productos de calidad satisfaciendo los gustos de usuarios, así como la responsabilidad de los productos en venta. </P>
         <hr>
         <h3>LOGO</h3>
         <p>Nuestro logo es representado por colores llamativos como es el rosa y el morado, estos mismo se tomaron como
           referencia a "Gamers" ya que muchos son que utilizan estos colores como representativo del uso de leds en sus
           equipos.
         </p>
         <hr>
         <p>           
          Cyber: Concentración de tecnología avanzada.
          Up: Siempre estamos arriba de todos.
         </p>
         <figure class="snip1033">
          <img src="/assets/logo.jpg" alt="sample20" />
          <figcaption>
            <div class="left">
              <h3>Cyber</h3>
            </div>
            <div class="right">
              <h3 class="white">UP</h3>
            </div>
          </figcaption>
          <div class="center"><i class="ion-ios-loop-strong"></i></div>
        </figure>
  </div>
