<a name="arriba"></a>
<div class="jumbotron">
  <div class="container">
    <MARQuee><h1 class="display-3">Bienvenidos a CyberUP</h1></MARQuee>
    <p>Numero 1 en ventas locales, con los mejores productos del mercado, a un precio accesible.</p>
  </div>
</div>

<div class="container">
  <MARquee><h1>NUESTROS PRODUCTOS</h1></MARquee>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Tarjetas Graficas(GPU)</h2>
      <p>Contamos con las mejores tarjetas graficas del mercado, modelos como:     
        GTX 2080 Ti.
        RTX 3090 Ti.
        Radeon 5000.
      </p>
      <p> <img src="/assets/2080.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Procesadores</h2>
      <p> De Gama Alta, Media y Baja. Desde un Ryzen 3 3400G hasta un Ryzen 3950X Y Procedores Intel
        de 10TH GEN y Series X
      </p>
      <p> <img src="/assets/ryzen.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Motherboard</h2>
      <p>Desde la Gama Baja Gaming hasta la Gama Alta Gaming.</p>
      <p> <img src="/assets/game.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Gabinetes</h2>
      <p>Gabinetes sencillos sin RGB, sin Ventialdores incluidos y Gabinetes con RGB y Ventiladores RGB.</p>
      <p> <img src="/assets/gab.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Memorias RAM</h2>
      <p>Memorias RAM sencillas, tipo Gaming con y sin RGB.De diferentes marcas y frecuencias</p>
      <p> <img src="/assets/ram.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Fuentes</h2>
      <p>Fuentes Certificadas Bronze, Gold, Platinum con o sin RGB.</p>
      <p> <img src="/assets/fuente.jpg" width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Almacenamiento</h2>
      <p>Discos Duros Mecanicos(HDD), Discos Duros Solidos(SSD) de tipo, Sata, M.2 y NVMe.</p>
      <p> <img src="/assets/alma.jpg"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Enfriamiento</h2>
      <p>De tipo Coolder(Ventilador) con o sin RGB y Coolder Liquid(Enfriamiento Liquido).</p>
      <p> <img src="/assets/coool.jpg"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>PC Gaming</h2>
      <p>Venta de PC Gaming armadas de diferente gama.</p>
      <p> <img src="/assets/pc.jpg"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Audifonos</h2>
      <p>Audifonos Inalambricos tecnologia Bluetooth y Alambricos</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Audifonos%2Fag.jpg?alt=media&token=21622119-148f-4fbd-94c4-11ec622bae8c"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Cables</h2>
      <p>Tipo Sata, de energia.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Cables%2Fes.jpg?alt=media&token=e910e655-c6e9-4f1c-9e95-9abc60c5588c"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>WebCam</h2>
      <p>Camaras web para tus videoconferencias.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/WebCam%2Fc.jpg?alt=media&token=db8c4888-26e3-4c71-99f2-85165e793656"  width="500" height="500"  class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Monitores</h2>
      <p>Monitores HD y gaming 4K .</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Monitor%2F2.jpg?alt=media&token=688baa74-8b08-4685-9ee1-7514f222ad79"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Redes</h2>
      <p>Tarjetas externas USB e internas WIFI.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Redes%2Ftarjeta.jpg?alt=media&token=4fa9db9d-63cf-4e8b-a939-32d337ce2503"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Reguladores</h2>
      <p>Reguladores con diferentes certificaciones y con bateria de respaldo.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Reguladores%2Frespaldo-fuente-de-poder.jpg?alt=media&token=54c41d7c-44b6-4a02-a659-f4bda4051ab5"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Muebles</h2>
      <p>Escritorios y Sillas.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Muebles%2Fs.jpg?alt=media&token=d00dbe3b-a827-4e9f-b731-84a57a2291e3"  width="200" height="200" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Sonido</h2>
      <p>Tarjetas de Sonido.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Sonido%2Fas.jpg?alt=media&token=d3ef8c87-9e92-48fb-bcab-17c945aa3c47"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Teclados</h2>
      <p>Teclados mecanicos y de membrana con y sin RGB, Alambricos e Inalambricos.</p>
      <p> <img src="/assets/pc.jpg"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Mouse</h2>
      <p>Mouse con o sin RGB, Alambricos e Inalambricos.</p>
      <p> <img src="/assets/alma.jpg"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Unidad de Discos</h2>
      <p>Unidades de disco externas DVD y Blu-Ray.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Unidades%20de%20Disco%2Fdvd.jpg?alt=media&token=2096f545-5dbe-43db-9298-3323f460625a"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
    <div class="col-md-4">
      <h2>Kits</h2>
      <p>Kits Teclado,Mouse y Audifonos.</p>
      <p> <img src="https://firebasestorage.googleapis.com/v0/b/cyberup-1e78b.appspot.com/o/Kits%2Fmem.jpg?alt=media&token=0717b483-ac7a-4002-b621-45bec7b693a6"  width="500" height="500" class="img-thumbnail" alt=""></p>
    </div>
  </div>
</div>
<a href="#arriba"><img src="/assets/aaaaa.gif"></a>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Redes Sociales</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.facebook.com/Cyberup1">Facebook</a></li>
        <li><a class="text-muted" href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Proveedores</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.asus.com/mx/">Asus</a></li>
        <li><a class="text-muted" href="https://www.gigabyte.com/mx">Gigabyte</a></li>
        <li><a class="text-muted" href="https://www.nvidia.com/es-la/">Nvidia</a></li>
        <li><a class="text-muted" href="https://mx.msi.com/">MSI</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Envios</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.estafeta.com/Herramientas/Rastreo">Estafeta</a></li>
        <li><a class="text-muted" href="http://www.dhl.com.mx/es/express/rastreo.html">DHL</a></li>
      </ul>
    </div>
  </div>
</footer>