<div class="media-body">
  <h1>TERMINOS Y CONDICIONES</h1>
  <h4>Por favor lea estos términos y condiciones de uso cuidadosamente antes de utilizar estos sitios.</h4>
  <p>Al usar este sitio usted manifiesta su aceptación de estos Términos de Uso y nuestro de Privacidad. Si usted no
    acepta estos Términos y condiciones de Uso, por favor no utilice estos sitios.
    Cyber UP se reserva el derecho, a nuestra discreción, de cambiar, añadir, eliminar o modificar partes de estos
    Términos y condiciones de Uso en cualquier momento.
    Revise estos términos y condiciones de uso periódicamente para los cambios..</p>
  <p>Indistintamente, como CyberUp. Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo
    sujetándose a los Términos y Condiciones Generales, junto con todas las
    demás políticas y principios que rigen CyberUp y que son incorporados al presente por referencia.</p>
    <a href=""><img src="/assets/índice.png" alt=""></a>
    <hr>
  <h3>Compra protegida</h3>
  <p>Con Compra Protegida, tu dinero está seguro en cada momento.</p>
  <ol>
    <li>
      • 28 días de cobertura desde que compraste si no te llega el producto.
    </li>
    <li>
      • 30 días de cobertura desde que lo recibes, si te arrepientes o el producto tiene un problema.
    </li>
    <li>
      Dudas o declaraciones favor de leer "Politica de devolucion"
    </li>
  </ol>
  <a href=""><img src="/assets/cp.png" alt=""></a>
</div>
