<body>

    <div class="container">
      <h1>Lo nuevo del mercado</h1>
      <!-- Left-aligned media object -->
      <div class="media">
        <div class="media-left">
          <img src="/assets/AMD-Ryzen-9-3950X-CPU-Official.png" style="width:500px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">AMD RYZEN 9 3950X</h4>
          <p>Con los procesadores para computadoras de escritorio más avanzados del mundo, ya no hay diferencia entre el rendimiento necesario para los jugadores de élite y la creación de contenido como en una workstation.</p>
        </div>
      </div>
      <hr>    
      <!-- Right-aligned media object -->
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">GEFORCE RTX 3080</h4>
          <p>La GeForce RTX™ 3080 cuenta con Ampere, la arquitectura de segunda generación de NVIDIA RTX. Se diseñó con los Núcleos RT y Núcleos Tensor mejorados, nuevos multiprocesadores de transmisión y una memoria G6X superrápida para ofrecer una experiencia increíble en los juegos.</p>
        </div>
        <div class="media-right">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7QeoZY4tf9I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <hr>
          <!-- Left-aligned media object -->
          <div class="media">
            <div class="media-left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K-yCNMNjFlw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
              <h4 class="media-heading">NUEVA SERIE ASUS B550-F</h4>
              <p>
                ROG Strix B550-F Gaming
                
                Las tarjetas madre de la serie ROG Strix B550 Gaming ofrecen buena parte de las características que puedes encontrar en la serie de gama alta ROG Strix X570 Gaming, como por ejemplo PCIe® 4.0.</p>
            </div>
          </div>
          <hr>                     
    </body>