<div class="container">
  <div class="media">
    <div class="media-body">
      <h1 class="media-heading">UBICANOS</h1>
    </div>
    <div class="media-right">
      <img src="/assets/maps.jpg" style="width:200px">
     </div>
  </div>
</div>
<hr>
<div class="media">
    <div class="media-left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1881.9504918794235!2d-98.99733112803756!3d19.37343959768742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e2c6cd176a3f%3A0x15250636126a5c36!2sIgnacio%20Allende%2058%2C%20Nueva%20Santa%20Martha%2C%2057920%20Nezahualc%C3%B3yotl%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1603738765661!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="media-body">
      <p><img src="/assets/dom.png" style="width:50px">
        Encuentranos en nuestra oficina principal.</p>
      <p>Calle Ignacio Allende 58.</p>
      <p>Col. Nueva Santa Martha.</p>
      <p>Cd Nezahualcoyotl, Mex.</p>
      <hr>
      <h1>TELEFONOS</h1>
      <p><img src="/assets/tl.jpg" style="width:50px">
        Oficina: 5515529190.</p>
      <p><img src="/assets/w.png" style="width:50px">
        Movil o WhatsApp: 5564251316.</p>
      <hr>
      <h1>CORREO ELECTRONICO</h1>
      <p>
        <img src="/assets/correo.png" style="width:50px">
        an68179231@gmail.com.</p>
      <hr>
      <h1>REDES SOCIALES</h1>
      <p>
        <a href="https://www.facebook.com/Cyberup1"><img src="/assets/fb.png" style="width:50px"></a>
        Facebook: Cyberup.</p>
      <p>
        <img src="/assets/insta.jpg" style="width:50px">
        Instagram: Cyberup.</p>
    </div>
  </div>
